body {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    height: 100vh;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 100vw;
}

.ant-select-selector {
    border-radius: 4px !important;
    &:hover {
        border: 1px solid $lightalmon !important;
        box-shadow: none !important;
    }
}
.form-control {
    border-radius: 4px !important;
    &:hover {
        border: 1px solid $lightalmon !important;
        box-shadow: none !important;
    }
    &:focus {
        border: 1px solid $lightalmon !important;
        box-shadow: none !important;
    }
    &:active {
        border: 1px solid $lightalmon !important;
        box-shadow: none !important;
    }
}

.ant-input {
    border: 1px solid --input-border;
    border-radius: 4px;
    &:hover {
        border: 1px solid $lightalmon;
        box-shadow: none;
    }
    &:focus {
        border: 1px solid $lightalmon;
        box-shadow: none;
    }
}

.selectDesign {
    border-color: --input-border;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 4px;
    box-shadow: none;
}

.cardDropdown {
    left: 0;
    top: 100%;
    background-color: white;
    z-index: 10;
    width: 360px;
    border-radius: 4px;
    transition: opacity 150ms ease-in-out;
}

.ant-color-picker,
.ant-select-dropdown,
.ant-picker-dropdown {
    z-index: 1302 !important;
}

.ant-table-expanded-row-fixed {
    padding: 0px !important;
}

.modal-title {
    font-size: 24px;
}

.cardBtn {
    min-width: 90px !important;
}

.addNewBtn {
    margin: 4px !important;
}

.ant-affix {
    z-index: 9999 !important;
}

.errorMsg {
    color: red;
    margin: 0;
    font-size: 12px;
}

.actionLeft {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    min-width: 80px;
}

.actionRight {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 60px;
}

.orangeBtn {
    background-color: #eea726;
    color: #fff;
    &:hover {
        background-color: #e5a226;
        color: #fff !important;
    }
}

.activeBtn {
    background-color: rgb(23, 190, 23);
    color: #fff;
    &:hover {
        background-color: rgb(11, 187, 11);
        color: #fff !important;
    }
}

.inactiveBtn {
    background-color: red;
    color: #fff;
    &:hover {
        background-color: rgb(212, 12, 12);
        color: #fff !important;
    }
}

.ant-space {
    padding: 4px;
}

.ant-btn {
    border-radius: 4px !important;
}

.ant-btn-compact-first-item {
    border-radius: 4px 0px 0px 4px !important;
    height: 38px;
    padding: 0px 30px;
}

.ant-btn-compact-last-item {
    border-radius: 0px 4px 4px 0px !important;
    height: 38px;
}

.flexGrow_1 {
    flex-grow: 1;
}