﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-width: 100vh;
            min-height: 100vh;
            background-color: #F9F9F9;
            /* background-color: grey; */
            font-family: arial;
            outline: dashed 1px black;
            /* Setup */
            position: relative;
        }

        #forgot__body {
            width: 600px;
            background-color: white;
            /* Center vertically and horizontally */
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);
            padding: 40px;
            border-radius: 4px;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
        }

            #forgot__body h3 {
                margin-bottom: 10px;
                color: #5f646c;
            }

            #forgot__body p {
                color: #82868d;
            }

        .forgot__btn {
            min-width: 100%;
            min-height: 50px;
            margin: 30px 0px;
            position: relative;
        }

            .forgot__btn a {
                border: 1px solid orange;
                background-color: orange;
                padding: 15px 30px;
                border-radius: 4px;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                transform: translate(-50%, -50%);
                cursor: pointer;
                text-decoration: none;
            }

        hr {
            border: 0.5px solid rgb(190, 185, 185, 0.3);
            margin-bottom: 30px;
        }

        #forgot__footer a {
            color: orange;
        }
    </style>
    <title></title>
</head>
<body>
    <div id="forgot__body">
        <h3>Welcome to IMS,</h3>
        <p>
            Thank for using our system, your new password is: {{content}}
        </p>
        <div class="forgot__btn">
            <a href="{{url}}">Login</a>
        </div>
        <hr />
        <div id="forgot__footer">
            <p>
                Need help?<span><a href="#"> contact support team </a></span>or through
                Facebook<span><a href="#"> @ims </a></span>
            </p>
            <p>
                Want to provide response? Please give us your idea on
                <span><a href="#"> landing page </a></span>
            </p>
        </div>
    </div>
</body>
</html>