.class__timeline > .timeline {

    .timeline-time {
        width: 5%;
    }

    .timeline-icon {
        inset-inline-start: 1%;
    }

    .timeline-body {
        margin-inline-start: 8%;
        margin-inline-end: 0%;
    }

    li:before {
        inset-inline-start: 6%;
    }
}
