
.btnClose{
    width: 130px;
}

.title-card{
font-size: medium;
font-weight: bold;
}
.timeline-icon {
    width: 4%;
    inset-inline-start: 0%
}

.timeline-body {
    margin-inline-start: 5%;
    margin-inline-end: 0%;
}

li:before {
    inset-inline-start: 2%;
}